.seccionVentasWrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 350px;
  background-color: white;
  border-radius: 15px 0 0 0;
  padding-left: 2%;
}
.wrapperProductos {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  gap: 25px;
}

.cardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  min-height: 200px;
  border-radius: 5px;
  scroll-snap-align: start;
  margin: 10px;
  max-width: 400px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.imgWrapper {
  overflow: hidden;
  width: 70%;
}
.imgWrapper img {
  width: 120%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-right: 25%;
  max-height: 300px;
}

.textWrapper {
  padding-left: 5px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--fontfamily);
  text-align: center;
}
.textWrapper h3 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.textWrapper p {
  padding-top: 15px;
  font-weight: 500;
  color: black;
}

.textWrapper span {
  color: blue;
  width: 100%;
  padding-top: 5px;
}
.textWrapper button {
  border: none;
  background-color: blue;
  color: white;
  padding: 5px;
  font-size: 0.8rem;
  font-family: var(--fontfamily1);
  font-weight: 500;
  border-radius: 3px;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
  margin-top: 5px;
}
.textWrapper button:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

@media screen and (min-width: 769px) {
  .seccionVentasWrapper {
    margin-left: 175px;
  }
}
